# File: .github/workflows/workflow.yml

on: [push]

jobs:
  build:
    runs-on: rakku-wd
    steps:
    # checkout the repo
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Use Private Azure Login Action
      uses: rakku-ms/github-actions@azslogintest
      with:
        creds: ${{ secrets.AZURESTACK_LH01_AAD_CREDENTIALS }}
        enable-AzPSSession: true
        environment: AzureStack
    - name: Build
      run: |
        npm install
        npm run build
    - name: Use Local KeyVault Action
      uses: ./
      with:
        creds: ${{ secrets.AZURESTACK_LH01_AAD_CREDENTIALS }}
        environment: AzureStack
        keyvault: ghakeyvault
        secrets: 'secret001'  # comma separated list of secret keys that need to be fetched from the Key Vault 
      id: myGetSecretAction